{
  "network": "testnet",
  "api_key": "",
  "wallet_version": "v4r2",
  "workchain": 0,
  "lite_client": {
    "host": "testnet.toncenter.com",
    "port": 443,
    "public_key": "PuYaTb4fPOjY4jtoHaNAWoSN_rxrLE7tgF-OqElmF1BMQR2X"
  },
  "endpoints": {
    "testnet": "https://testnet.toncenter.com/api/v2/",
    "mainnet": "https://toncenter.com/api/v2/"
  }
}